.root {
  span {
    background-color: #eff8ff;
  }

  &__teamColor-1 {
    color: #6941c6;
  }

  &__teamColor-2 {
    color: #175cd3;
  }

  &__teamColor-3 {
    color: #3538cd;
  }

  &__teamColor-4 {
    color: #0c7440;
  }

  &__teamColor-5 {
    color: #7d9617;
  }

  &__teamColor-6 {
    color: #c3159d;
  }
}
